
.btn {
  border-radius: 2px;
}

.btn, .nav {
  .fa {
    margin-right: 7px;
  }
}

.btn-icon-only, li.icon-only {
  .fa {
    margin-right: 0px;
  }
}

.btn-icon-right, li.icon-right {
  .fa {
    margin-right: 0px;
    margin-left: 7px;
  }
}

.dropdown-toggle .caret {
  margin-left: 4px;
}

.btn-xs .fa {
  margin-right: 3px;
}

