
.navbar {
  background-color: $brand-primary;
}

.carousel {
  height: 400px;
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
  height: 100%;
}

.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}