
html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
  overflow-x: hidden;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.navbar {
  background-color: #202020;
}

.navbar-admin {
  margin-bottom: 0;
  background-color: #f0f0f0;
  width: 100%;
  min-height: 40px;
}

#collapse-admin {
  background-color: #f0f0f0;
}

.carousel {
  height: 400px;
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
  height: 100%;
}

.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.img-header,
#map {
  width: 100%;
  max-height: 400px;
  height: 400px;

  margin-bottom: 30px;
}

.img-header > img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #202020;
  padding-top: 20px;
  margin-top: 50px;
}

footer p {
  color: #f0f0f0;
}

.footer-items {
  list-style: none;
  display: block;
  text-decoration: none;
  text-align: center;
  padding-bottom: 20px;
}

.footer-items > li {
  display: inline-block;
  padding-right: 5%;
}

.footer-items a {
  color: #f0f0f0;
}

.copyright {
  padding-top: 10px;
  background-color: #101010;
}

.tab-pane {
  margin-top: 30px;
}

@media(min-width: 768px) {
  #loginForm {
    left: 25%;
  }
  #categoryForm {
    left: 25%;
  }
}

form button {
  margin-top: 20px;
}

.dropdown-submenu {
  position:relative;
}

.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display:block;
}

.dropdown-submenu>a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
  float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: 100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

input[type=checkbox] {
  width: auto;
  height: auto;
}

.menu-items {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.menu-items:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.open>admin-categories>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: -2px;
}

.nav>li>login>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  list-style: none;
  color: #9d9d9d;
}

@media (min-width: 768px) {
  .navbar-nav>li>login>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.nav>li>login>a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.product-list {
  margin-top: 30px;
}

.cross {
  margin-right: 10px;
  font-size: 13px;
  color: red;
  text-decoration: line-through;
  font-weight: normal;
}

.p-price {
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.page {
  margin-top: 60px;
}

.page .page-header {
  margin-bottom: 0px;
}

.related-products {
  margin-top: 40px;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
}

.product-price > .cross {
  margin-left: 10px;
  font-size: 15px;
  color: red;
  text-decoration: line-through;
  font-weight: normal;
}

@media (min-width: 768px) {
  .nav>li>update-shop>a,
  .nav>li>add-page>a,
  .nav>li>add-product>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.nav>li>update-shop>a,
.nav>li>add-page>a,
.nav>li>add-product>a {
  position: relative;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  cursor: pointer;
}
.nav>li>update-shop>a:hover,
.nav>li>add-product>a:hover,
.nav>li>add-page>a:hover {
  background-color: #eee;
}

.btn-buy {
  float: right;
  font-size: 20px !important;
}
.btn-buy i {
  padding-right: 10px;
}

.chart {
  height: 400px;
  margin-bottom: 30px;
}

.table-products {
  margin-top: 30px;
  text-align: center;
}

.table-products th {
  text-align: center;
}

.shop-data {
  list-style: none;
  padding-left: 10px;
  font-size: 16px;
}

.shop-data i {
  padding-right: 5px;
}

.shop-data li {
  margin-bottom: 10px;
}