
<ul class="dropdown-menu">
  <li ng-repeat="category in $ctrl.categories" ng-class="category.children.length && 'dropdown-submenu'">
    <a href="javascript:void(0);">{{category.name}}</a>
    <ul ng-if="category.children.length" class="dropdown-menu">
      <li ng-repeat="child in category.children">
        <a href="javascript:void(0);">{{child.name}}</a>
      </li>
    </ul>
  </li>
  <li role="separator" class="divider"></li>
  <li>
    <add-category categories="$ctrl.categories"></add-category>
  </li>
</ul>